@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

@theme inline {
    --font-robotoMono: var(--font-roboto-mono);
    --font-bokor: var(--font-bokor);
    --font-BBHSansHegartyRegular: var(--font-BBHSansHegarty);
    --font-BBHSansBogle: var(--font-BBHSansBogle);
}
